.home-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  color: black;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 20px;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-right: 10px;
}
